page-login {

.headerTop {
  margin-top: $item-ios-padding-top;
}

.backgroundGreen {
  margin-top: $item-ios-padding-top;
}

.autoAdjust {
  margin-top: 15px !important;
  display: -webkit-box;
  color:yellow;
}

.yellowButton {
  background-color: yellow;
}

}
