page-login {

ion-content{ 
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  z-index: 2;
  position: relative !important;
}

.headerTop {
  margin-top: $item-ios-padding-top;
}

.backgroundGreen {
  margin-top: $item-ios-padding-top;
}

.autoAdjust {
  margin-top: 15px !important;
  display: -webkit-box;
  color:yellow;
}

.yellowButton {
  background-color: yellow;
  color: black;
}

.backgroundGreen {
  background: darkgreen;
  padding: 41px 20px 10px 20px;
}

}
