page-myattendance {
  .marginTop{
    margin-top:40px;
  }
  .item-inner {
     padding-right: 0px!important;
  }
  .backgroundColor {
   background-color: rgba(199, 195, 204, 0.18)
  }
  .colorYellow{
      background-color: rgba(255, 255, 0, 0.64)
  }
  .colorGreen{
      background-color: #9eeb9e;
  }
  .colorPink{
      background-color: pink;
  }
}
