<ion-content padding>
  <div class="headerTop">
    <img src="assets/images/header.png">
  </div>
  <br>
  <br>
  <h2 text-center>FORGOT PASSWORD</h2>
  <br>
  <br>
  <ion-item *ngIf="!showMobileVerification && !setpassword">
    <ion-input type="tel" placeholder="Registered Mobile Number" [(ngModel)]="data.number"></ion-input>
  </ion-item>
  <h6 *ngIf="showMobileVerification" text-center> MOBILE VERIFICATION</h6>
  <br>
  <br>
  <ion-item *ngIf="showMobileVerification">
      <ion-input type="tel" maxlength="4" [(ngModel)]="data.otp" placeholder="Enter OTP"></ion-input>
  </ion-item>
  <h6 *ngIf="!showMobileVerification && setpassword" text-center> SET NEW PASSWORD</h6>
  <ion-item *ngIf="!showMobileVerification && setpassword">
    <ion-input type="password"  [(ngModel)]="data.password" placeholder="New Password"></ion-input>
  </ion-item>
  <ion-item *ngIf="!showMobileVerification && setpassword">
    <ion-input type="password"  [(ngModel)]="data.confirmpassword" placeholder="Confirm Password"></ion-input>
  </ion-item>
  <br>
  <button  ion-button full (click)="sendotp()" *ngIf="!showMobileVerification && !setpassword">SEND OTP</button>
  <button  ion-button full (click)="crctPassword()" *ngIf="showMobileVerification">VERIFY</button>
  <button  ion-button full (click)="showLoginPage()" *ngIf="!showMobileVerification && setpassword">LOGIN</button>
  <a *ngIf="showMobileVerification" text-center (click)="resendotp()" style="display:block;">Please click here for RESEND OTP</a>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <p text-center *ngIf="!setpassword">FOR REGISTERED USER ONLY</p>
    <p text-center *ngIf="!showMobileVerification && setpassword">OTP Verify Mobile: SMS Code recived 6784. Mobile number verified</p>
  </ion-toolbar>
</ion-footer>
