page-results {
  .marginTop{
    margin-top:40px;
  }
  .backgroundColor {
   background-color: rgba(199, 195, 204, 0.18)
  }
  .colorBrown {
    background-color: #fea;
  }
  .colorBrowned {
    background-color: #fea;
  }
  .backgroundBlue {
    background-color: #adf;
  }
}
