page-time-table {
  .marginTop{
    margin-top:25px;
  }
  .colorYellow{
      background-color: rgba(255, 255, 0, 0.64)
  }
  .colorGreen{
      background-color: #9eeb9e;
  }
  .colorPink{
      background-color: pink;
  }
}
