<!--
  Generated template for the TimeTablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TimeTable</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item ion-fixed>
    <ion-label>Student:</ion-label>
    <ion-select (ngModelChange)="onStudentSelect($event)" [(ngModel)]="student">
      <ion-option *ngFor="let item of studentList">{{item.name}}</ion-option>
    </ion-select>
  </ion-item>
    <ion-item class="marginTop" detail-none no-padding>
      <ion-row nowrap>
        <ion-col>Sun</ion-col>
        <ion-col>Mon</ion-col>
        <ion-col>Tue</ion-col>
        <ion-col>Wed</ion-col>
        <ion-col>Thu</ion-col>
        <ion-col>Fri</ion-col>
        <ion-col>Sat</ion-col>
      </ion-row>
    </ion-item>
      <!-- <ion-row *ngFor="let row of arrayKey">
        <div *ngFor="let subItem of timeTable[row];  let i=index">
          <ion-col col-1 no-padding >
              {{subItem.subject1}}
          </ion-col>
          <ion-col col-2 no-padding >
              {{subItem.subject2}}
          </ion-col>
          <ion-col col-2 no-padding >
              {{subItem.subject3}}
          </ion-col>
          <ion-col col-2 no-padding >
              {{subItem.subject4}}
          </ion-col>
          <ion-col col-2 no-padding >
              {{subItem.subject5}}
          </ion-col>
          <ion-col col-2 no-padding >
              {{subItem.subject6}}
          </ion-col>
          <ion-col col-1 no-padding >
              {{subItem.subject7}}
          </ion-col>
      </div>
      </ion-row> -->
      <br>
      <div *ngFor="let row of arrayKey" style="padding-top: 15px;">
        <ion-item  detail-none no-padding *ngFor="let subItem of timeTable[row];  let i=index ">
        <ion-row>
          <ion-col  no-padding style="white-space: normal !important;" [ngClass]="{'colorYellow': subItem.subject1 == 'Computers', 'colorGreen' : subItem.subject1 == 'P', 'colorPink' : subItem.subject1 == 'A'}">
              {{subItem.subject1}}
          </ion-col>
          <ion-col  no-padding style="white-space: normal !important;" [ngClass]="{'colorYellow': subItem.subject2 == 'Computers', 'colorGreen' : subItem.subject2 == 'English Lab', 'colorPink' : subItem.subject2 == 'UML class'}">
              {{subItem.subject2}}
          </ion-col>
          <ion-col no-padding style="white-space: normal !important;" [ngClass]="{'colorYellow': subItem.subject3 == 'Computers', 'colorGreen' : subItem.subject3 == 'English Lab', 'colorPink' : subItem.subject3 == 'UML class'}">
              {{subItem.subject3}}
          </ion-col>
          <ion-col no-padding style="white-space: normal !important;" [ngClass]="{'colorYellow': subItem.subject4 == 'Computers', 'colorGreen' : subItem.subject4 == 'English Lab', 'colorPink' : subItem.subject4 == 'UML class'}">
              {{subItem.subject4}}
          </ion-col>
          <ion-col no-padding style="white-space: normal !important;" [ngClass]="{'colorYellow': subItem.subject5 == 'Computers', 'colorGreen' : subItem.subject5 == 'English Lab', 'colorPink' : subItem.subject5 == 'UML class'}">
              {{subItem.subject5}}
          </ion-col>
          <ion-col no-padding style="white-space: normal !important;" [ngClass]="{'colorYellow': subItem.subject6 == 'Computers', 'colorGreen' : subItem.subject6 == 'English Lab', 'colorPink' : subItem.subject6 == 'UML class'}">
              {{subItem.subject6}}
          </ion-col>
          <ion-col no-padding style="white-space: normal !important;" [ngClass]="{'colorYellow': subItem.subject7 == 'Computers', 'colorGreen' : subItem.subject7 == 'English Lab', 'colorPink' : subItem.subject7 == 'UML class'}">
              {{subItem.subject7}}
          </ion-col>
        </ion-row>
        </ion-item>
      </div>
</ion-content>
