<ion-header>
  <ion-navbar hideBackButton>
      <img src="assets/images/header.png">
    <button ion-button menuToggle icon-only left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end class="HeaderEndBut">
      <button (click)="likeme()" ion-button clear icon-only>
        <ion-icon name="ios-notifications"></ion-icon>
        <span color="danger" class="adjustitemaddedspan">{{itemsadded}}</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item detail-none>
    <ion-avatar item-left>
      <img src="assets/images/default.png">
    </ion-avatar>
    <h2>Navaratan</h2>
    <p>9740447518</p>
  </ion-item>
  <br>
  <div *ngFor="let res of iconsDisplay; let i = index;">
    <ion-row wrap  *ngIf="i%3==0">
      <ion-col>
        <img src="assets/images/{{iconsDisplay[i].name}}.png" alt="" style="width:100px;height:100px" (click)="navigatepage(iconsDisplay[i])"/>
      </ion-col>
      <ion-col>
        <img src="assets/images/{{iconsDisplay[i + 1].name}}.png" alt="" style="width:100px;height:100px" (click)="navigatepage(iconsDisplay[i + 1])"/>
      </ion-col>
      <ion-col>
        <img src="assets/images/{{iconsDisplay[i + 2].name}}.png" alt="" style="width:100px;height:100px" (click)="navigatepage(iconsDisplay[i + 2])"/>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
