page-home-work {
	ion-col.b-color{
		background-color: #0886e2;
	}
	ion-item.colorBlue{
		background-color: #88d4d1;
	}
	ion-item.colorYellow{
		background-color: #f5f1c4;
	}
	.item-md.margin{
		margin-left: 9px !important;
	}
	.marginTop{
    margin-top:25px;
  }
  .yellowButton {
    background-color: yellow;
    color: black;
  }
}
